<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AllTestSuite">
    <test name="amazonAutomation" verbose="2" preserve-order="true" >
        <classes>
            <class name="com.amazon.tests.ShopFlow">
                <methods>
                    <include name="selectMobileToBuy"/>

                </methods>
            </class>
        </classes>
    </test>

</suite>